@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

//=============  reset style ==========
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr{
    padding-top:$base-padding;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}