@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr {
  padding-top: 0.75rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.text-primary {
  color: #22BABB;
}

.text-hover-primary:hover {
  color: #22BABB;
}

.bg-primary {
  background-color: #22BABB;
}

.bg-hover-primary:hover {
  background: #22BABB;
}

.text-primary-light-1 {
  color: #38c1c2;
}

.text-hover-light-primary:hover {
  color: #38c1c2;
}

.bg-primary-light-1 {
  background-color: #38c1c2;
}

.bg-hover-light-primary:hover {
  background: #38c1c2;
}

.text-primary-light-2 {
  color: #4ec8c9;
}

.text-hover-light-primary:hover {
  color: #4ec8c9;
}

.bg-primary-light-2 {
  background-color: #4ec8c9;
}

.bg-hover-light-primary:hover {
  background: #4ec8c9;
}

.text-primary-light-3 {
  color: #64cfcf;
}

.text-hover-light-primary:hover {
  color: #64cfcf;
}

.bg-primary-light-3 {
  background-color: #64cfcf;
}

.bg-hover-light-primary:hover {
  background: #64cfcf;
}

.text-primary-light-4 {
  color: #7ad6d6;
}

.text-hover-light-primary:hover {
  color: #7ad6d6;
}

.bg-primary-light-4 {
  background-color: #7ad6d6;
}

.bg-hover-light-primary:hover {
  background: #7ad6d6;
}

.text-primary-light-5 {
  color: #91dddd;
}

.text-hover-light-primary:hover {
  color: #91dddd;
}

.bg-primary-light-5 {
  background-color: #91dddd;
}

.bg-hover-light-primary:hover {
  background: #91dddd;
}

.text-primary-light-6 {
  color: #a7e3e4;
}

.text-hover-light-primary:hover {
  color: #a7e3e4;
}

.bg-primary-light-6 {
  background-color: #a7e3e4;
}

.bg-hover-light-primary:hover {
  background: #a7e3e4;
}

.text-primary-light-7 {
  color: #bdeaeb;
}

.text-hover-light-primary:hover {
  color: #bdeaeb;
}

.bg-primary-light-7 {
  background-color: #bdeaeb;
}

.bg-hover-light-primary:hover {
  background: #bdeaeb;
}

.text-primary-light-8 {
  color: #d3f1f1;
}

.text-hover-light-primary:hover {
  color: #d3f1f1;
}

.bg-primary-light-8 {
  background-color: #d3f1f1;
}

.bg-hover-light-primary:hover {
  background: #d3f1f1;
}

.text-primary-light-9 {
  color: #e9f8f8;
}

.text-hover-light-primary:hover {
  color: #e9f8f8;
}

.bg-primary-light-9 {
  background-color: #e9f8f8;
}

.bg-hover-light-primary:hover {
  background: #e9f8f8;
}

.text-primary-dark-1 {
  color: #1fa7a8;
}

.text-hover-dark-primary:hover {
  color: #1fa7a8;
}

.bg-primary-dark-1 {
  background-color: #1fa7a8;
}

.bg-hover-dark-primary:hover {
  background-color: #1fa7a8;
}

.text-primary-dark-2 {
  color: #1b9596;
}

.text-hover-dark-primary:hover {
  color: #1b9596;
}

.bg-primary-dark-2 {
  background-color: #1b9596;
}

.bg-hover-dark-primary:hover {
  background-color: #1b9596;
}

.text-primary-dark-3 {
  color: #188283;
}

.text-hover-dark-primary:hover {
  color: #188283;
}

.bg-primary-dark-3 {
  background-color: #188283;
}

.bg-hover-dark-primary:hover {
  background-color: #188283;
}

.text-primary-dark-4 {
  color: #147070;
}

.text-hover-dark-primary:hover {
  color: #147070;
}

.bg-primary-dark-4 {
  background-color: #147070;
}

.bg-hover-dark-primary:hover {
  background-color: #147070;
}

.text-primary-dark-5 {
  color: #115d5e;
}

.text-hover-dark-primary:hover {
  color: #115d5e;
}

.bg-primary-dark-5 {
  background-color: #115d5e;
}

.bg-hover-dark-primary:hover {
  background-color: #115d5e;
}

.text-primary-dark-6 {
  color: #0e4a4b;
}

.text-hover-dark-primary:hover {
  color: #0e4a4b;
}

.bg-primary-dark-6 {
  background-color: #0e4a4b;
}

.bg-hover-dark-primary:hover {
  background-color: #0e4a4b;
}

.text-primary-dark-7 {
  color: #0a3838;
}

.text-hover-dark-primary:hover {
  color: #0a3838;
}

.bg-primary-dark-7 {
  background-color: #0a3838;
}

.bg-hover-dark-primary:hover {
  background-color: #0a3838;
}

.text-primary-dark-8 {
  color: #072525;
}

.text-hover-dark-primary:hover {
  color: #072525;
}

.bg-primary-dark-8 {
  background-color: #072525;
}

.bg-hover-dark-primary:hover {
  background-color: #072525;
}

.text-primary-dark-9 {
  color: #031313;
}

.text-hover-dark-primary:hover {
  color: #031313;
}

.bg-primary-dark-9 {
  background-color: #031313;
}

.bg-hover-dark-primary:hover {
  background-color: #031313;
}

.text-info {
  color: #9EF8EE;
}

.text-hover-info:hover {
  color: #9EF8EE;
}

.bg-info {
  background-color: #9EF8EE;
}

.bg-hover-info:hover {
  background: #9EF8EE;
}

.text-info-light-1 {
  color: #a8f9f0;
}

.text-hover-light-info:hover {
  color: #a8f9f0;
}

.bg-info-light-1 {
  background-color: #a8f9f0;
}

.bg-hover-light-info:hover {
  background: #a8f9f0;
}

.text-info-light-2 {
  color: #b1f9f1;
}

.text-hover-light-info:hover {
  color: #b1f9f1;
}

.bg-info-light-2 {
  background-color: #b1f9f1;
}

.bg-hover-light-info:hover {
  background: #b1f9f1;
}

.text-info-light-3 {
  color: #bbfaf3;
}

.text-hover-light-info:hover {
  color: #bbfaf3;
}

.bg-info-light-3 {
  background-color: #bbfaf3;
}

.bg-hover-light-info:hover {
  background: #bbfaf3;
}

.text-info-light-4 {
  color: #c5fbf5;
}

.text-hover-light-info:hover {
  color: #c5fbf5;
}

.bg-info-light-4 {
  background-color: #c5fbf5;
}

.bg-hover-light-info:hover {
  background: #c5fbf5;
}

.text-info-light-5 {
  color: #cffcf7;
}

.text-hover-light-info:hover {
  color: #cffcf7;
}

.bg-info-light-5 {
  background-color: #cffcf7;
}

.bg-hover-light-info:hover {
  background: #cffcf7;
}

.text-info-light-6 {
  color: #d8fcf8;
}

.text-hover-light-info:hover {
  color: #d8fcf8;
}

.bg-info-light-6 {
  background-color: #d8fcf8;
}

.bg-hover-light-info:hover {
  background: #d8fcf8;
}

.text-info-light-7 {
  color: #e2fdfa;
}

.text-hover-light-info:hover {
  color: #e2fdfa;
}

.bg-info-light-7 {
  background-color: #e2fdfa;
}

.bg-hover-light-info:hover {
  background: #e2fdfa;
}

.text-info-light-8 {
  color: #ecfefc;
}

.text-hover-light-info:hover {
  color: #ecfefc;
}

.bg-info-light-8 {
  background-color: #ecfefc;
}

.bg-hover-light-info:hover {
  background: #ecfefc;
}

.text-info-light-9 {
  color: #f5fefd;
}

.text-hover-light-info:hover {
  color: #f5fefd;
}

.bg-info-light-9 {
  background-color: #f5fefd;
}

.bg-hover-light-info:hover {
  background: #f5fefd;
}

.text-info-dark-1 {
  color: #8edfd6;
}

.text-hover-dark-info:hover {
  color: #8edfd6;
}

.bg-info-dark-1 {
  background-color: #8edfd6;
}

.bg-hover-dark-info:hover {
  background-color: #8edfd6;
}

.text-info-dark-2 {
  color: #7ec6be;
}

.text-hover-dark-info:hover {
  color: #7ec6be;
}

.bg-info-dark-2 {
  background-color: #7ec6be;
}

.bg-hover-dark-info:hover {
  background-color: #7ec6be;
}

.text-info-dark-3 {
  color: #6faea7;
}

.text-hover-dark-info:hover {
  color: #6faea7;
}

.bg-info-dark-3 {
  background-color: #6faea7;
}

.bg-hover-dark-info:hover {
  background-color: #6faea7;
}

.text-info-dark-4 {
  color: #5f958f;
}

.text-hover-dark-info:hover {
  color: #5f958f;
}

.bg-info-dark-4 {
  background-color: #5f958f;
}

.bg-hover-dark-info:hover {
  background-color: #5f958f;
}

.text-info-dark-5 {
  color: #4f7c77;
}

.text-hover-dark-info:hover {
  color: #4f7c77;
}

.bg-info-dark-5 {
  background-color: #4f7c77;
}

.bg-hover-dark-info:hover {
  background-color: #4f7c77;
}

.text-info-dark-6 {
  color: #3f635f;
}

.text-hover-dark-info:hover {
  color: #3f635f;
}

.bg-info-dark-6 {
  background-color: #3f635f;
}

.bg-hover-dark-info:hover {
  background-color: #3f635f;
}

.text-info-dark-7 {
  color: #2f4a47;
}

.text-hover-dark-info:hover {
  color: #2f4a47;
}

.bg-info-dark-7 {
  background-color: #2f4a47;
}

.bg-hover-dark-info:hover {
  background-color: #2f4a47;
}

.text-info-dark-8 {
  color: #203230;
}

.text-hover-dark-info:hover {
  color: #203230;
}

.bg-info-dark-8 {
  background-color: #203230;
}

.bg-hover-dark-info:hover {
  background-color: #203230;
}

.text-info-dark-9 {
  color: #101918;
}

.text-hover-dark-info:hover {
  color: #101918;
}

.bg-info-dark-9 {
  background-color: #101918;
}

.bg-hover-dark-info:hover {
  background-color: #101918;
}

.text-secondary {
  color: #F24405;
}

.text-hover-secondary:hover {
  color: #F24405;
}

.bg-secondary {
  background-color: #F24405;
}

.bg-hover-secondary:hover {
  background: #F24405;
}

.text-secondary-light-1 {
  color: #f3571e;
}

.text-hover-light-secondary:hover {
  color: #f3571e;
}

.bg-secondary-light-1 {
  background-color: #f3571e;
}

.bg-hover-light-secondary:hover {
  background: #f3571e;
}

.text-secondary-light-2 {
  color: #f56937;
}

.text-hover-light-secondary:hover {
  color: #f56937;
}

.bg-secondary-light-2 {
  background-color: #f56937;
}

.bg-hover-light-secondary:hover {
  background: #f56937;
}

.text-secondary-light-3 {
  color: #f67c50;
}

.text-hover-light-secondary:hover {
  color: #f67c50;
}

.bg-secondary-light-3 {
  background-color: #f67c50;
}

.bg-hover-light-secondary:hover {
  background: #f67c50;
}

.text-secondary-light-4 {
  color: #f78f69;
}

.text-hover-light-secondary:hover {
  color: #f78f69;
}

.bg-secondary-light-4 {
  background-color: #f78f69;
}

.bg-hover-light-secondary:hover {
  background: #f78f69;
}

.text-secondary-light-5 {
  color: #f9a282;
}

.text-hover-light-secondary:hover {
  color: #f9a282;
}

.bg-secondary-light-5 {
  background-color: #f9a282;
}

.bg-hover-light-secondary:hover {
  background: #f9a282;
}

.text-secondary-light-6 {
  color: #fab49b;
}

.text-hover-light-secondary:hover {
  color: #fab49b;
}

.bg-secondary-light-6 {
  background-color: #fab49b;
}

.bg-hover-light-secondary:hover {
  background: #fab49b;
}

.text-secondary-light-7 {
  color: #fbc7b4;
}

.text-hover-light-secondary:hover {
  color: #fbc7b4;
}

.bg-secondary-light-7 {
  background-color: #fbc7b4;
}

.bg-hover-light-secondary:hover {
  background: #fbc7b4;
}

.text-secondary-light-8 {
  color: #fcdacd;
}

.text-hover-light-secondary:hover {
  color: #fcdacd;
}

.bg-secondary-light-8 {
  background-color: #fcdacd;
}

.bg-hover-light-secondary:hover {
  background: #fcdacd;
}

.text-secondary-light-9 {
  color: #feece6;
}

.text-hover-light-secondary:hover {
  color: #feece6;
}

.bg-secondary-light-9 {
  background-color: #feece6;
}

.bg-hover-light-secondary:hover {
  background: #feece6;
}

.text-secondary-dark-1 {
  color: #da3d05;
}

.text-hover-dark-secondary:hover {
  color: #da3d05;
}

.bg-secondary-dark-1 {
  background-color: #da3d05;
}

.bg-hover-dark-secondary:hover {
  background-color: #da3d05;
}

.text-secondary-dark-2 {
  color: #c23604;
}

.text-hover-dark-secondary:hover {
  color: #c23604;
}

.bg-secondary-dark-2 {
  background-color: #c23604;
}

.bg-hover-dark-secondary:hover {
  background-color: #c23604;
}

.text-secondary-dark-3 {
  color: #a93004;
}

.text-hover-dark-secondary:hover {
  color: #a93004;
}

.bg-secondary-dark-3 {
  background-color: #a93004;
}

.bg-hover-dark-secondary:hover {
  background-color: #a93004;
}

.text-secondary-dark-4 {
  color: #912903;
}

.text-hover-dark-secondary:hover {
  color: #912903;
}

.bg-secondary-dark-4 {
  background-color: #912903;
}

.bg-hover-dark-secondary:hover {
  background-color: #912903;
}

.text-secondary-dark-5 {
  color: #792203;
}

.text-hover-dark-secondary:hover {
  color: #792203;
}

.bg-secondary-dark-5 {
  background-color: #792203;
}

.bg-hover-dark-secondary:hover {
  background-color: #792203;
}

.text-secondary-dark-6 {
  color: #611b02;
}

.text-hover-dark-secondary:hover {
  color: #611b02;
}

.bg-secondary-dark-6 {
  background-color: #611b02;
}

.bg-hover-dark-secondary:hover {
  background-color: #611b02;
}

.text-secondary-dark-7 {
  color: #491402;
}

.text-hover-dark-secondary:hover {
  color: #491402;
}

.bg-secondary-dark-7 {
  background-color: #491402;
}

.bg-hover-dark-secondary:hover {
  background-color: #491402;
}

.text-secondary-dark-8 {
  color: #300e01;
}

.text-hover-dark-secondary:hover {
  color: #300e01;
}

.bg-secondary-dark-8 {
  background-color: #300e01;
}

.bg-hover-dark-secondary:hover {
  background-color: #300e01;
}

.text-secondary-dark-9 {
  color: #180701;
}

.text-hover-dark-secondary:hover {
  color: #180701;
}

.bg-secondary-dark-9 {
  background-color: #180701;
}

.bg-hover-dark-secondary:hover {
  background-color: #180701;
}

.text-black {
  color: #252620;
}

.text-hover-black:hover {
  color: #252620;
}

.bg-black {
  background-color: #252620;
}

.bg-hover-black:hover {
  background: #252620;
}

.text-black-light-1 {
  color: #3b3c36;
}

.text-hover-light-black:hover {
  color: #3b3c36;
}

.bg-black-light-1 {
  background-color: #3b3c36;
}

.bg-hover-light-black:hover {
  background: #3b3c36;
}

.text-black-light-2 {
  color: #51514d;
}

.text-hover-light-black:hover {
  color: #51514d;
}

.bg-black-light-2 {
  background-color: #51514d;
}

.bg-hover-light-black:hover {
  background: #51514d;
}

.text-black-light-3 {
  color: #666763;
}

.text-hover-light-black:hover {
  color: #666763;
}

.bg-black-light-3 {
  background-color: #666763;
}

.bg-hover-light-black:hover {
  background: #666763;
}

.text-black-light-4 {
  color: #7c7d79;
}

.text-hover-light-black:hover {
  color: #7c7d79;
}

.bg-black-light-4 {
  background-color: #7c7d79;
}

.bg-hover-light-black:hover {
  background: #7c7d79;
}

.text-black-light-5 {
  color: #929390;
}

.text-hover-light-black:hover {
  color: #929390;
}

.bg-black-light-5 {
  background-color: #929390;
}

.bg-hover-light-black:hover {
  background: #929390;
}

.text-black-light-6 {
  color: #a8a8a6;
}

.text-hover-light-black:hover {
  color: #a8a8a6;
}

.bg-black-light-6 {
  background-color: #a8a8a6;
}

.bg-hover-light-black:hover {
  background: #a8a8a6;
}

.text-black-light-7 {
  color: #bebebc;
}

.text-hover-light-black:hover {
  color: #bebebc;
}

.bg-black-light-7 {
  background-color: #bebebc;
}

.bg-hover-light-black:hover {
  background: #bebebc;
}

.text-black-light-8 {
  color: #d3d4d2;
}

.text-hover-light-black:hover {
  color: #d3d4d2;
}

.bg-black-light-8 {
  background-color: #d3d4d2;
}

.bg-hover-light-black:hover {
  background: #d3d4d2;
}

.text-black-light-9 {
  color: #e9e9e9;
}

.text-hover-light-black:hover {
  color: #e9e9e9;
}

.bg-black-light-9 {
  background-color: #e9e9e9;
}

.bg-hover-light-black:hover {
  background: #e9e9e9;
}

.text-black-dark-1 {
  color: #21221d;
}

.text-hover-dark-black:hover {
  color: #21221d;
}

.bg-black-dark-1 {
  background-color: #21221d;
}

.bg-hover-dark-black:hover {
  background-color: #21221d;
}

.text-black-dark-2 {
  color: #1e1e1a;
}

.text-hover-dark-black:hover {
  color: #1e1e1a;
}

.bg-black-dark-2 {
  background-color: #1e1e1a;
}

.bg-hover-dark-black:hover {
  background-color: #1e1e1a;
}

.text-black-dark-3 {
  color: #1a1b16;
}

.text-hover-dark-black:hover {
  color: #1a1b16;
}

.bg-black-dark-3 {
  background-color: #1a1b16;
}

.bg-hover-dark-black:hover {
  background-color: #1a1b16;
}

.text-black-dark-4 {
  color: #161713;
}

.text-hover-dark-black:hover {
  color: #161713;
}

.bg-black-dark-4 {
  background-color: #161713;
}

.bg-hover-dark-black:hover {
  background-color: #161713;
}

.text-black-dark-5 {
  color: #131310;
}

.text-hover-dark-black:hover {
  color: #131310;
}

.bg-black-dark-5 {
  background-color: #131310;
}

.bg-hover-dark-black:hover {
  background-color: #131310;
}

.text-black-dark-6 {
  color: #0f0f0d;
}

.text-hover-dark-black:hover {
  color: #0f0f0d;
}

.bg-black-dark-6 {
  background-color: #0f0f0d;
}

.bg-hover-dark-black:hover {
  background-color: #0f0f0d;
}

.text-black-dark-7 {
  color: #0b0b0a;
}

.text-hover-dark-black:hover {
  color: #0b0b0a;
}

.bg-black-dark-7 {
  background-color: #0b0b0a;
}

.bg-hover-dark-black:hover {
  background-color: #0b0b0a;
}

.text-black-dark-8 {
  color: #070806;
}

.text-hover-dark-black:hover {
  color: #070806;
}

.bg-black-dark-8 {
  background-color: #070806;
}

.bg-hover-dark-black:hover {
  background-color: #070806;
}

.text-black-dark-9 {
  color: #040403;
}

.text-hover-dark-black:hover {
  color: #040403;
}

.bg-black-dark-9 {
  background-color: #040403;
}

.bg-hover-dark-black:hover {
  background-color: #040403;
}

.text-gray {
  color: #D9D9D9;
}

.text-hover-gray:hover {
  color: #D9D9D9;
}

.bg-gray {
  background-color: #D9D9D9;
}

.bg-hover-gray:hover {
  background: #D9D9D9;
}

.text-gray-light-1 {
  color: #dddddd;
}

.text-hover-light-gray:hover {
  color: #dddddd;
}

.bg-gray-light-1 {
  background-color: #dddddd;
}

.bg-hover-light-gray:hover {
  background: #dddddd;
}

.text-gray-light-2 {
  color: #e1e1e1;
}

.text-hover-light-gray:hover {
  color: #e1e1e1;
}

.bg-gray-light-2 {
  background-color: #e1e1e1;
}

.bg-hover-light-gray:hover {
  background: #e1e1e1;
}

.text-gray-light-3 {
  color: #e4e4e4;
}

.text-hover-light-gray:hover {
  color: #e4e4e4;
}

.bg-gray-light-3 {
  background-color: #e4e4e4;
}

.bg-hover-light-gray:hover {
  background: #e4e4e4;
}

.text-gray-light-4 {
  color: #e8e8e8;
}

.text-hover-light-gray:hover {
  color: #e8e8e8;
}

.bg-gray-light-4 {
  background-color: #e8e8e8;
}

.bg-hover-light-gray:hover {
  background: #e8e8e8;
}

.text-gray-light-5 {
  color: #ececec;
}

.text-hover-light-gray:hover {
  color: #ececec;
}

.bg-gray-light-5 {
  background-color: #ececec;
}

.bg-hover-light-gray:hover {
  background: #ececec;
}

.text-gray-light-6 {
  color: #f0f0f0;
}

.text-hover-light-gray:hover {
  color: #f0f0f0;
}

.bg-gray-light-6 {
  background-color: #f0f0f0;
}

.bg-hover-light-gray:hover {
  background: #f0f0f0;
}

.text-gray-light-7 {
  color: #f4f4f4;
}

.text-hover-light-gray:hover {
  color: #f4f4f4;
}

.bg-gray-light-7 {
  background-color: #f4f4f4;
}

.bg-hover-light-gray:hover {
  background: #f4f4f4;
}

.text-gray-light-8 {
  color: #f7f7f7;
}

.text-hover-light-gray:hover {
  color: #f7f7f7;
}

.bg-gray-light-8 {
  background-color: #f7f7f7;
}

.bg-hover-light-gray:hover {
  background: #f7f7f7;
}

.text-gray-light-9 {
  color: #fbfbfb;
}

.text-hover-light-gray:hover {
  color: #fbfbfb;
}

.bg-gray-light-9 {
  background-color: #fbfbfb;
}

.bg-hover-light-gray:hover {
  background: #fbfbfb;
}

.text-gray-dark-1 {
  color: #c3c3c3;
}

.text-hover-dark-gray:hover {
  color: #c3c3c3;
}

.bg-gray-dark-1 {
  background-color: #c3c3c3;
}

.bg-hover-dark-gray:hover {
  background-color: #c3c3c3;
}

.text-gray-dark-2 {
  color: #aeaeae;
}

.text-hover-dark-gray:hover {
  color: #aeaeae;
}

.bg-gray-dark-2 {
  background-color: #aeaeae;
}

.bg-hover-dark-gray:hover {
  background-color: #aeaeae;
}

.text-gray-dark-3 {
  color: #989898;
}

.text-hover-dark-gray:hover {
  color: #989898;
}

.bg-gray-dark-3 {
  background-color: #989898;
}

.bg-hover-dark-gray:hover {
  background-color: #989898;
}

.text-gray-dark-4 {
  color: #828282;
}

.text-hover-dark-gray:hover {
  color: #828282;
}

.bg-gray-dark-4 {
  background-color: #828282;
}

.bg-hover-dark-gray:hover {
  background-color: #828282;
}

.text-gray-dark-5 {
  color: #6d6d6d;
}

.text-hover-dark-gray:hover {
  color: #6d6d6d;
}

.bg-gray-dark-5 {
  background-color: #6d6d6d;
}

.bg-hover-dark-gray:hover {
  background-color: #6d6d6d;
}

.text-gray-dark-6 {
  color: #575757;
}

.text-hover-dark-gray:hover {
  color: #575757;
}

.bg-gray-dark-6 {
  background-color: #575757;
}

.bg-hover-dark-gray:hover {
  background-color: #575757;
}

.text-gray-dark-7 {
  color: #414141;
}

.text-hover-dark-gray:hover {
  color: #414141;
}

.bg-gray-dark-7 {
  background-color: #414141;
}

.bg-hover-dark-gray:hover {
  background-color: #414141;
}

.text-gray-dark-8 {
  color: #2b2b2b;
}

.text-hover-dark-gray:hover {
  color: #2b2b2b;
}

.bg-gray-dark-8 {
  background-color: #2b2b2b;
}

.bg-hover-dark-gray:hover {
  background-color: #2b2b2b;
}

.text-gray-dark-9 {
  color: #161616;
}

.text-hover-dark-gray:hover {
  color: #161616;
}

.bg-gray-dark-9 {
  background-color: #161616;
}

.bg-hover-dark-gray:hover {
  background-color: #161616;
}

.text-danger {
  color: #F21326;
}

.text-hover-danger:hover {
  color: #F21326;
}

.bg-danger {
  background-color: #F21326;
}

.bg-hover-danger:hover {
  background: #F21326;
}

.text-danger-light-1 {
  color: #f32b3c;
}

.text-hover-light-danger:hover {
  color: #f32b3c;
}

.bg-danger-light-1 {
  background-color: #f32b3c;
}

.bg-hover-light-danger:hover {
  background: #f32b3c;
}

.text-danger-light-2 {
  color: #f54251;
}

.text-hover-light-danger:hover {
  color: #f54251;
}

.bg-danger-light-2 {
  background-color: #f54251;
}

.bg-hover-light-danger:hover {
  background: #f54251;
}

.text-danger-light-3 {
  color: #f65a67;
}

.text-hover-light-danger:hover {
  color: #f65a67;
}

.bg-danger-light-3 {
  background-color: #f65a67;
}

.bg-hover-light-danger:hover {
  background: #f65a67;
}

.text-danger-light-4 {
  color: #f7717d;
}

.text-hover-light-danger:hover {
  color: #f7717d;
}

.bg-danger-light-4 {
  background-color: #f7717d;
}

.bg-hover-light-danger:hover {
  background: #f7717d;
}

.text-danger-light-5 {
  color: #f98993;
}

.text-hover-light-danger:hover {
  color: #f98993;
}

.bg-danger-light-5 {
  background-color: #f98993;
}

.bg-hover-light-danger:hover {
  background: #f98993;
}

.text-danger-light-6 {
  color: #faa1a8;
}

.text-hover-light-danger:hover {
  color: #faa1a8;
}

.bg-danger-light-6 {
  background-color: #faa1a8;
}

.bg-hover-light-danger:hover {
  background: #faa1a8;
}

.text-danger-light-7 {
  color: #fbb8be;
}

.text-hover-light-danger:hover {
  color: #fbb8be;
}

.bg-danger-light-7 {
  background-color: #fbb8be;
}

.bg-hover-light-danger:hover {
  background: #fbb8be;
}

.text-danger-light-8 {
  color: #fcd0d4;
}

.text-hover-light-danger:hover {
  color: #fcd0d4;
}

.bg-danger-light-8 {
  background-color: #fcd0d4;
}

.bg-hover-light-danger:hover {
  background: #fcd0d4;
}

.text-danger-light-9 {
  color: #fee7e9;
}

.text-hover-light-danger:hover {
  color: #fee7e9;
}

.bg-danger-light-9 {
  background-color: #fee7e9;
}

.bg-hover-light-danger:hover {
  background: #fee7e9;
}

.text-danger-dark-1 {
  color: #da1122;
}

.text-hover-dark-danger:hover {
  color: #da1122;
}

.bg-danger-dark-1 {
  background-color: #da1122;
}

.bg-hover-dark-danger:hover {
  background-color: #da1122;
}

.text-danger-dark-2 {
  color: #c20f1e;
}

.text-hover-dark-danger:hover {
  color: #c20f1e;
}

.bg-danger-dark-2 {
  background-color: #c20f1e;
}

.bg-hover-dark-danger:hover {
  background-color: #c20f1e;
}

.text-danger-dark-3 {
  color: #a90d1b;
}

.text-hover-dark-danger:hover {
  color: #a90d1b;
}

.bg-danger-dark-3 {
  background-color: #a90d1b;
}

.bg-hover-dark-danger:hover {
  background-color: #a90d1b;
}

.text-danger-dark-4 {
  color: #910b17;
}

.text-hover-dark-danger:hover {
  color: #910b17;
}

.bg-danger-dark-4 {
  background-color: #910b17;
}

.bg-hover-dark-danger:hover {
  background-color: #910b17;
}

.text-danger-dark-5 {
  color: #790a13;
}

.text-hover-dark-danger:hover {
  color: #790a13;
}

.bg-danger-dark-5 {
  background-color: #790a13;
}

.bg-hover-dark-danger:hover {
  background-color: #790a13;
}

.text-danger-dark-6 {
  color: #61080f;
}

.text-hover-dark-danger:hover {
  color: #61080f;
}

.bg-danger-dark-6 {
  background-color: #61080f;
}

.bg-hover-dark-danger:hover {
  background-color: #61080f;
}

.text-danger-dark-7 {
  color: #49060b;
}

.text-hover-dark-danger:hover {
  color: #49060b;
}

.bg-danger-dark-7 {
  background-color: #49060b;
}

.bg-hover-dark-danger:hover {
  background-color: #49060b;
}

.text-danger-dark-8 {
  color: #300408;
}

.text-hover-dark-danger:hover {
  color: #300408;
}

.bg-danger-dark-8 {
  background-color: #300408;
}

.bg-hover-dark-danger:hover {
  background-color: #300408;
}

.text-danger-dark-9 {
  color: #180204;
}

.text-hover-dark-danger:hover {
  color: #180204;
}

.bg-danger-dark-9 {
  background-color: #180204;
}

.bg-hover-dark-danger:hover {
  background-color: #180204;
}

.text-white {
  color: #fff;
}

.text-hover-white:hover {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.bg-hover-white:hover {
  background: #fff;
}

.text-white-light-1 {
  color: white;
}

.text-hover-light-white:hover {
  color: white;
}

.bg-white-light-1 {
  background-color: white;
}

.bg-hover-light-white:hover {
  background: white;
}

.text-white-light-2 {
  color: white;
}

.text-hover-light-white:hover {
  color: white;
}

.bg-white-light-2 {
  background-color: white;
}

.bg-hover-light-white:hover {
  background: white;
}

.text-white-light-3 {
  color: white;
}

.text-hover-light-white:hover {
  color: white;
}

.bg-white-light-3 {
  background-color: white;
}

.bg-hover-light-white:hover {
  background: white;
}

.text-white-light-4 {
  color: white;
}

.text-hover-light-white:hover {
  color: white;
}

.bg-white-light-4 {
  background-color: white;
}

.bg-hover-light-white:hover {
  background: white;
}

.text-white-light-5 {
  color: white;
}

.text-hover-light-white:hover {
  color: white;
}

.bg-white-light-5 {
  background-color: white;
}

.bg-hover-light-white:hover {
  background: white;
}

.text-white-light-6 {
  color: white;
}

.text-hover-light-white:hover {
  color: white;
}

.bg-white-light-6 {
  background-color: white;
}

.bg-hover-light-white:hover {
  background: white;
}

.text-white-light-7 {
  color: white;
}

.text-hover-light-white:hover {
  color: white;
}

.bg-white-light-7 {
  background-color: white;
}

.bg-hover-light-white:hover {
  background: white;
}

.text-white-light-8 {
  color: white;
}

.text-hover-light-white:hover {
  color: white;
}

.bg-white-light-8 {
  background-color: white;
}

.bg-hover-light-white:hover {
  background: white;
}

.text-white-light-9 {
  color: white;
}

.text-hover-light-white:hover {
  color: white;
}

.bg-white-light-9 {
  background-color: white;
}

.bg-hover-light-white:hover {
  background: white;
}

.text-white-dark-1 {
  color: #e6e6e6;
}

.text-hover-dark-white:hover {
  color: #e6e6e6;
}

.bg-white-dark-1 {
  background-color: #e6e6e6;
}

.bg-hover-dark-white:hover {
  background-color: #e6e6e6;
}

.text-white-dark-2 {
  color: #cccccc;
}

.text-hover-dark-white:hover {
  color: #cccccc;
}

.bg-white-dark-2 {
  background-color: #cccccc;
}

.bg-hover-dark-white:hover {
  background-color: #cccccc;
}

.text-white-dark-3 {
  color: #b3b3b3;
}

.text-hover-dark-white:hover {
  color: #b3b3b3;
}

.bg-white-dark-3 {
  background-color: #b3b3b3;
}

.bg-hover-dark-white:hover {
  background-color: #b3b3b3;
}

.text-white-dark-4 {
  color: #999999;
}

.text-hover-dark-white:hover {
  color: #999999;
}

.bg-white-dark-4 {
  background-color: #999999;
}

.bg-hover-dark-white:hover {
  background-color: #999999;
}

.text-white-dark-5 {
  color: gray;
}

.text-hover-dark-white:hover {
  color: gray;
}

.bg-white-dark-5 {
  background-color: gray;
}

.bg-hover-dark-white:hover {
  background-color: gray;
}

.text-white-dark-6 {
  color: #666666;
}

.text-hover-dark-white:hover {
  color: #666666;
}

.bg-white-dark-6 {
  background-color: #666666;
}

.bg-hover-dark-white:hover {
  background-color: #666666;
}

.text-white-dark-7 {
  color: #4d4d4d;
}

.text-hover-dark-white:hover {
  color: #4d4d4d;
}

.bg-white-dark-7 {
  background-color: #4d4d4d;
}

.bg-hover-dark-white:hover {
  background-color: #4d4d4d;
}

.text-white-dark-8 {
  color: #333333;
}

.text-hover-dark-white:hover {
  color: #333333;
}

.bg-white-dark-8 {
  background-color: #333333;
}

.bg-hover-dark-white:hover {
  background-color: #333333;
}

.text-white-dark-9 {
  color: #1a1a1a;
}

.text-hover-dark-white:hover {
  color: #1a1a1a;
}

.bg-white-dark-9 {
  background-color: #1a1a1a;
}

.bg-hover-dark-white:hover {
  background-color: #1a1a1a;
}

.text-blue {
  color: blue;
}

.text-hover-blue:hover {
  color: blue;
}

.bg-blue {
  background-color: blue;
}

.bg-hover-blue:hover {
  background: blue;
}

.text-blue-light-1 {
  color: #1a1aff;
}

.text-hover-light-blue:hover {
  color: #1a1aff;
}

.bg-blue-light-1 {
  background-color: #1a1aff;
}

.bg-hover-light-blue:hover {
  background: #1a1aff;
}

.text-blue-light-2 {
  color: #3333ff;
}

.text-hover-light-blue:hover {
  color: #3333ff;
}

.bg-blue-light-2 {
  background-color: #3333ff;
}

.bg-hover-light-blue:hover {
  background: #3333ff;
}

.text-blue-light-3 {
  color: #4d4dff;
}

.text-hover-light-blue:hover {
  color: #4d4dff;
}

.bg-blue-light-3 {
  background-color: #4d4dff;
}

.bg-hover-light-blue:hover {
  background: #4d4dff;
}

.text-blue-light-4 {
  color: #6666ff;
}

.text-hover-light-blue:hover {
  color: #6666ff;
}

.bg-blue-light-4 {
  background-color: #6666ff;
}

.bg-hover-light-blue:hover {
  background: #6666ff;
}

.text-blue-light-5 {
  color: #8080ff;
}

.text-hover-light-blue:hover {
  color: #8080ff;
}

.bg-blue-light-5 {
  background-color: #8080ff;
}

.bg-hover-light-blue:hover {
  background: #8080ff;
}

.text-blue-light-6 {
  color: #9999ff;
}

.text-hover-light-blue:hover {
  color: #9999ff;
}

.bg-blue-light-6 {
  background-color: #9999ff;
}

.bg-hover-light-blue:hover {
  background: #9999ff;
}

.text-blue-light-7 {
  color: #b3b3ff;
}

.text-hover-light-blue:hover {
  color: #b3b3ff;
}

.bg-blue-light-7 {
  background-color: #b3b3ff;
}

.bg-hover-light-blue:hover {
  background: #b3b3ff;
}

.text-blue-light-8 {
  color: #ccccff;
}

.text-hover-light-blue:hover {
  color: #ccccff;
}

.bg-blue-light-8 {
  background-color: #ccccff;
}

.bg-hover-light-blue:hover {
  background: #ccccff;
}

.text-blue-light-9 {
  color: #e6e6ff;
}

.text-hover-light-blue:hover {
  color: #e6e6ff;
}

.bg-blue-light-9 {
  background-color: #e6e6ff;
}

.bg-hover-light-blue:hover {
  background: #e6e6ff;
}

.text-blue-dark-1 {
  color: #0000e6;
}

.text-hover-dark-blue:hover {
  color: #0000e6;
}

.bg-blue-dark-1 {
  background-color: #0000e6;
}

.bg-hover-dark-blue:hover {
  background-color: #0000e6;
}

.text-blue-dark-2 {
  color: #0000cc;
}

.text-hover-dark-blue:hover {
  color: #0000cc;
}

.bg-blue-dark-2 {
  background-color: #0000cc;
}

.bg-hover-dark-blue:hover {
  background-color: #0000cc;
}

.text-blue-dark-3 {
  color: #0000b3;
}

.text-hover-dark-blue:hover {
  color: #0000b3;
}

.bg-blue-dark-3 {
  background-color: #0000b3;
}

.bg-hover-dark-blue:hover {
  background-color: #0000b3;
}

.text-blue-dark-4 {
  color: #000099;
}

.text-hover-dark-blue:hover {
  color: #000099;
}

.bg-blue-dark-4 {
  background-color: #000099;
}

.bg-hover-dark-blue:hover {
  background-color: #000099;
}

.text-blue-dark-5 {
  color: navy;
}

.text-hover-dark-blue:hover {
  color: navy;
}

.bg-blue-dark-5 {
  background-color: navy;
}

.bg-hover-dark-blue:hover {
  background-color: navy;
}

.text-blue-dark-6 {
  color: #000066;
}

.text-hover-dark-blue:hover {
  color: #000066;
}

.bg-blue-dark-6 {
  background-color: #000066;
}

.bg-hover-dark-blue:hover {
  background-color: #000066;
}

.text-blue-dark-7 {
  color: #00004d;
}

.text-hover-dark-blue:hover {
  color: #00004d;
}

.bg-blue-dark-7 {
  background-color: #00004d;
}

.bg-hover-dark-blue:hover {
  background-color: #00004d;
}

.text-blue-dark-8 {
  color: #000033;
}

.text-hover-dark-blue:hover {
  color: #000033;
}

.bg-blue-dark-8 {
  background-color: #000033;
}

.bg-hover-dark-blue:hover {
  background-color: #000033;
}

.text-blue-dark-9 {
  color: #00001a;
}

.text-hover-dark-blue:hover {
  color: #00001a;
}

.bg-blue-dark-9 {
  background-color: #00001a;
}

.bg-hover-dark-blue:hover {
  background-color: #00001a;
}

.text-warning {
  color: #DBF227;
}

.text-hover-warning:hover {
  color: #DBF227;
}

.bg-warning {
  background-color: #DBF227;
}

.bg-hover-warning:hover {
  background: #DBF227;
}

.text-warning-light-1 {
  color: #dff33d;
}

.text-hover-light-warning:hover {
  color: #dff33d;
}

.bg-warning-light-1 {
  background-color: #dff33d;
}

.bg-hover-light-warning:hover {
  background: #dff33d;
}

.text-warning-light-2 {
  color: #e2f552;
}

.text-hover-light-warning:hover {
  color: #e2f552;
}

.bg-warning-light-2 {
  background-color: #e2f552;
}

.bg-hover-light-warning:hover {
  background: #e2f552;
}

.text-warning-light-3 {
  color: #e6f668;
}

.text-hover-light-warning:hover {
  color: #e6f668;
}

.bg-warning-light-3 {
  background-color: #e6f668;
}

.bg-hover-light-warning:hover {
  background: #e6f668;
}

.text-warning-light-4 {
  color: #e9f77d;
}

.text-hover-light-warning:hover {
  color: #e9f77d;
}

.bg-warning-light-4 {
  background-color: #e9f77d;
}

.bg-hover-light-warning:hover {
  background: #e9f77d;
}

.text-warning-light-5 {
  color: #edf993;
}

.text-hover-light-warning:hover {
  color: #edf993;
}

.bg-warning-light-5 {
  background-color: #edf993;
}

.bg-hover-light-warning:hover {
  background: #edf993;
}

.text-warning-light-6 {
  color: #f1faa9;
}

.text-hover-light-warning:hover {
  color: #f1faa9;
}

.bg-warning-light-6 {
  background-color: #f1faa9;
}

.bg-hover-light-warning:hover {
  background: #f1faa9;
}

.text-warning-light-7 {
  color: #f4fbbe;
}

.text-hover-light-warning:hover {
  color: #f4fbbe;
}

.bg-warning-light-7 {
  background-color: #f4fbbe;
}

.bg-hover-light-warning:hover {
  background: #f4fbbe;
}

.text-warning-light-8 {
  color: #f8fcd4;
}

.text-hover-light-warning:hover {
  color: #f8fcd4;
}

.bg-warning-light-8 {
  background-color: #f8fcd4;
}

.bg-hover-light-warning:hover {
  background: #f8fcd4;
}

.text-warning-light-9 {
  color: #fbfee9;
}

.text-hover-light-warning:hover {
  color: #fbfee9;
}

.bg-warning-light-9 {
  background-color: #fbfee9;
}

.bg-hover-light-warning:hover {
  background: #fbfee9;
}

.text-warning-dark-1 {
  color: #c5da23;
}

.text-hover-dark-warning:hover {
  color: #c5da23;
}

.bg-warning-dark-1 {
  background-color: #c5da23;
}

.bg-hover-dark-warning:hover {
  background-color: #c5da23;
}

.text-warning-dark-2 {
  color: #afc21f;
}

.text-hover-dark-warning:hover {
  color: #afc21f;
}

.bg-warning-dark-2 {
  background-color: #afc21f;
}

.bg-hover-dark-warning:hover {
  background-color: #afc21f;
}

.text-warning-dark-3 {
  color: #99a91b;
}

.text-hover-dark-warning:hover {
  color: #99a91b;
}

.bg-warning-dark-3 {
  background-color: #99a91b;
}

.bg-hover-dark-warning:hover {
  background-color: #99a91b;
}

.text-warning-dark-4 {
  color: #839117;
}

.text-hover-dark-warning:hover {
  color: #839117;
}

.bg-warning-dark-4 {
  background-color: #839117;
}

.bg-hover-dark-warning:hover {
  background-color: #839117;
}

.text-warning-dark-5 {
  color: #6e7914;
}

.text-hover-dark-warning:hover {
  color: #6e7914;
}

.bg-warning-dark-5 {
  background-color: #6e7914;
}

.bg-hover-dark-warning:hover {
  background-color: #6e7914;
}

.text-warning-dark-6 {
  color: #586110;
}

.text-hover-dark-warning:hover {
  color: #586110;
}

.bg-warning-dark-6 {
  background-color: #586110;
}

.bg-hover-dark-warning:hover {
  background-color: #586110;
}

.text-warning-dark-7 {
  color: #42490c;
}

.text-hover-dark-warning:hover {
  color: #42490c;
}

.bg-warning-dark-7 {
  background-color: #42490c;
}

.bg-hover-dark-warning:hover {
  background-color: #42490c;
}

.text-warning-dark-8 {
  color: #2c3008;
}

.text-hover-dark-warning:hover {
  color: #2c3008;
}

.bg-warning-dark-8 {
  background-color: #2c3008;
}

.bg-hover-dark-warning:hover {
  background-color: #2c3008;
}

.text-warning-dark-9 {
  color: #161804;
}

.text-hover-dark-warning:hover {
  color: #161804;
}

.bg-warning-dark-9 {
  background-color: #161804;
}

.bg-hover-dark-warning:hover {
  background-color: #161804;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #22BABB;
  -webkit-box-shadow: 1px 3px 5px #22BABB;
          box-shadow: 1px 3px 5px #22BABB;
  margin: 0.75rem;
}

.card .card-title {
  font-size: 1rem;
  padding-bottom: 0.75rem;
  font-weight: 600;
}

.card .card-title {
  font-size: 1.5rem;
  color: #22BABB;
}

.card a {
  text-decoration: underline;
  color: #22BABB;
}

.btn {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border: 0;
  display: inline-block;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #e2e2e2e1;
}

.btn-primary {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border: 0;
  display: inline-block;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #22BABB;
}

.btn-primary:hover {
  background-color: #26cfd1;
}

.btn-primary-outline {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border: 0;
  display: inline-block;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #fff;
}

.btn-primary-outline:hover {
  border: 1px solid #22BABB;
  background-color: #22BABB;
}

.btn-info {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border: 0;
  display: inline-block;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #9EF8EE;
}

.btn-info:hover {
  background-color: #b6faf2;
}

.btn-info-outline {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border: 0;
  display: inline-block;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #fff;
}

.btn-info-outline:hover {
  border: 1px solid #9EF8EE;
  background-color: #9EF8EE;
}

.btn-secondary {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border: 0;
  display: inline-block;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #F24405;
}

.btn-secondary:hover {
  background-color: #fa5316;
}

.btn-secondary-outline {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border: 0;
  display: inline-block;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #fff;
}

.btn-secondary-outline:hover {
  border: 1px solid #F24405;
  background-color: #F24405;
}

.btn-black {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border: 0;
  display: inline-block;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #252620;
}

.btn-black:hover {
  background-color: #32342c;
}

.btn-black-outline {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border: 0;
  display: inline-block;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #fff;
}

.btn-black-outline:hover {
  border: 1px solid #252620;
  background-color: #252620;
}

.btn-gray {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border: 0;
  display: inline-block;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #D9D9D9;
}

.btn-gray:hover {
  background-color: #e6e6e6;
}

.btn-gray-outline {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border: 0;
  display: inline-block;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #fff;
}

.btn-gray-outline:hover {
  border: 1px solid #D9D9D9;
  background-color: #D9D9D9;
}

.btn-danger {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border: 0;
  display: inline-block;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #F21326;
}

.btn-danger:hover {
  background-color: #f32b3c;
}

.btn-danger-outline {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border: 0;
  display: inline-block;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #fff;
}

.btn-danger-outline:hover {
  border: 1px solid #F21326;
  background-color: #F21326;
}

.btn-white {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border: 0;
  display: inline-block;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #fff;
}

.btn-white:hover {
  background-color: white;
}

.btn-white-outline {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border: 0;
  display: inline-block;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #fff;
}

.btn-white-outline:hover {
  border: 1px solid #fff;
  background-color: #fff;
}

.btn-blue {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border: 0;
  display: inline-block;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: blue;
}

.btn-blue:hover {
  background-color: #1a1aff;
}

.btn-blue-outline {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border: 0;
  display: inline-block;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #fff;
}

.btn-blue-outline:hover {
  border: 1px solid blue;
  background-color: blue;
}

.btn-warning {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border: 0;
  display: inline-block;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #DBF227;
}

.btn-warning:hover {
  background-color: #dff33f;
}

.btn-warning-outline {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border: 0;
  display: inline-block;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #fff;
}

.btn-warning-outline:hover {
  border: 1px solid #DBF227;
  background-color: #DBF227;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-105 {
  margin-top: 105px;
}

.mt-110 {
  margin-top: 110px;
}

.mt-115 {
  margin-top: 115px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-125 {
  margin-top: 125px;
}

.mt-130 {
  margin-top: 130px;
}

.mt-135 {
  margin-top: 135px;
}

.mt-140 {
  margin-top: 140px;
}

.mt-145 {
  margin-top: 145px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-155 {
  margin-top: 155px;
}

.mt-160 {
  margin-top: 160px;
}

.mt-165 {
  margin-top: 165px;
}

.mt-170 {
  margin-top: 170px;
}

.mt-175 {
  margin-top: 175px;
}

.mt-180 {
  margin-top: 180px;
}

.mt-185 {
  margin-top: 185px;
}

.mt-190 {
  margin-top: 190px;
}

.mt-195 {
  margin-top: 195px;
}

.mt-200 {
  margin-top: 200px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-105 {
  margin-bottom: 105px;
}

.mb-110 {
  margin-bottom: 110px;
}

.mb-115 {
  margin-bottom: 115px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-125 {
  margin-bottom: 125px;
}

.mb-130 {
  margin-bottom: 130px;
}

.mb-135 {
  margin-bottom: 135px;
}

.mb-140 {
  margin-bottom: 140px;
}

.mb-145 {
  margin-bottom: 145px;
}

.mb-150 {
  margin-bottom: 150px;
}

.mb-155 {
  margin-bottom: 155px;
}

.mb-160 {
  margin-bottom: 160px;
}

.mb-165 {
  margin-bottom: 165px;
}

.mb-170 {
  margin-bottom: 170px;
}

.mb-175 {
  margin-bottom: 175px;
}

.mb-180 {
  margin-bottom: 180px;
}

.mb-185 {
  margin-bottom: 185px;
}

.mb-190 {
  margin-bottom: 190px;
}

.mb-195 {
  margin-bottom: 195px;
}

.mb-200 {
  margin-bottom: 200px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-35 {
  margin-left: 35px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-45 {
  margin-left: 45px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-55 {
  margin-left: 55px;
}

.ml-60 {
  margin-left: 60px;
}

.ml-65 {
  margin-left: 65px;
}

.ml-70 {
  margin-left: 70px;
}

.ml-75 {
  margin-left: 75px;
}

.ml-80 {
  margin-left: 80px;
}

.ml-85 {
  margin-left: 85px;
}

.ml-90 {
  margin-left: 90px;
}

.ml-95 {
  margin-left: 95px;
}

.ml-100 {
  margin-left: 100px;
}

.ml-105 {
  margin-left: 105px;
}

.ml-110 {
  margin-left: 110px;
}

.ml-115 {
  margin-left: 115px;
}

.ml-120 {
  margin-left: 120px;
}

.ml-125 {
  margin-left: 125px;
}

.ml-130 {
  margin-left: 130px;
}

.ml-135 {
  margin-left: 135px;
}

.ml-140 {
  margin-left: 140px;
}

.ml-145 {
  margin-left: 145px;
}

.ml-150 {
  margin-left: 150px;
}

.ml-155 {
  margin-left: 155px;
}

.ml-160 {
  margin-left: 160px;
}

.ml-165 {
  margin-left: 165px;
}

.ml-170 {
  margin-left: 170px;
}

.ml-175 {
  margin-left: 175px;
}

.ml-180 {
  margin-left: 180px;
}

.ml-185 {
  margin-left: 185px;
}

.ml-190 {
  margin-left: 190px;
}

.ml-195 {
  margin-left: 195px;
}

.ml-200 {
  margin-left: 200px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-35 {
  margin-right: 35px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-45 {
  margin-right: 45px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-55 {
  margin-right: 55px;
}

.mr-60 {
  margin-right: 60px;
}

.mr-65 {
  margin-right: 65px;
}

.mr-70 {
  margin-right: 70px;
}

.mr-75 {
  margin-right: 75px;
}

.mr-80 {
  margin-right: 80px;
}

.mr-85 {
  margin-right: 85px;
}

.mr-90 {
  margin-right: 90px;
}

.mr-95 {
  margin-right: 95px;
}

.mr-100 {
  margin-right: 100px;
}

.mr-105 {
  margin-right: 105px;
}

.mr-110 {
  margin-right: 110px;
}

.mr-115 {
  margin-right: 115px;
}

.mr-120 {
  margin-right: 120px;
}

.mr-125 {
  margin-right: 125px;
}

.mr-130 {
  margin-right: 130px;
}

.mr-135 {
  margin-right: 135px;
}

.mr-140 {
  margin-right: 140px;
}

.mr-145 {
  margin-right: 145px;
}

.mr-150 {
  margin-right: 150px;
}

.mr-155 {
  margin-right: 155px;
}

.mr-160 {
  margin-right: 160px;
}

.mr-165 {
  margin-right: 165px;
}

.mr-170 {
  margin-right: 170px;
}

.mr-175 {
  margin-right: 175px;
}

.mr-180 {
  margin-right: 180px;
}

.mr-185 {
  margin-right: 185px;
}

.mr-190 {
  margin-right: 190px;
}

.mr-195 {
  margin-right: 195px;
}

.mr-200 {
  margin-right: 200px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-65 {
  padding-top: 65px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-85 {
  padding-top: 85px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-105 {
  padding-top: 105px;
}

.pt-110 {
  padding-top: 110px;
}

.pt-115 {
  padding-top: 115px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-125 {
  padding-top: 125px;
}

.pt-130 {
  padding-top: 130px;
}

.pt-135 {
  padding-top: 135px;
}

.pt-140 {
  padding-top: 140px;
}

.pt-145 {
  padding-top: 145px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-155 {
  padding-top: 155px;
}

.pt-160 {
  padding-top: 160px;
}

.pt-165 {
  padding-top: 165px;
}

.pt-170 {
  padding-top: 170px;
}

.pt-175 {
  padding-top: 175px;
}

.pt-180 {
  padding-top: 180px;
}

.pt-185 {
  padding-top: 185px;
}

.pt-190 {
  padding-top: 190px;
}

.pt-195 {
  padding-top: 195px;
}

.pt-200 {
  padding-top: 200px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-85 {
  padding-bottom: 85px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-95 {
  padding-bottom: 95px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-105 {
  padding-bottom: 105px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-115 {
  padding-bottom: 115px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-125 {
  padding-bottom: 125px;
}

.pb-130 {
  padding-bottom: 130px;
}

.pb-135 {
  padding-bottom: 135px;
}

.pb-140 {
  padding-bottom: 140px;
}

.pb-145 {
  padding-bottom: 145px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pb-155 {
  padding-bottom: 155px;
}

.pb-160 {
  padding-bottom: 160px;
}

.pb-165 {
  padding-bottom: 165px;
}

.pb-170 {
  padding-bottom: 170px;
}

.pb-175 {
  padding-bottom: 175px;
}

.pb-180 {
  padding-bottom: 180px;
}

.pb-185 {
  padding-bottom: 185px;
}

.pb-190 {
  padding-bottom: 190px;
}

.pb-195 {
  padding-bottom: 195px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-25 {
  padding-left: 25px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-35 {
  padding-left: 35px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-45 {
  padding-left: 45px;
}

.pl-50 {
  padding-left: 50px;
}

.pl-55 {
  padding-left: 55px;
}

.pl-60 {
  padding-left: 60px;
}

.pl-65 {
  padding-left: 65px;
}

.pl-70 {
  padding-left: 70px;
}

.pl-75 {
  padding-left: 75px;
}

.pl-80 {
  padding-left: 80px;
}

.pl-85 {
  padding-left: 85px;
}

.pl-90 {
  padding-left: 90px;
}

.pl-95 {
  padding-left: 95px;
}

.pl-100 {
  padding-left: 100px;
}

.pl-105 {
  padding-left: 105px;
}

.pl-110 {
  padding-left: 110px;
}

.pl-115 {
  padding-left: 115px;
}

.pl-120 {
  padding-left: 120px;
}

.pl-125 {
  padding-left: 125px;
}

.pl-130 {
  padding-left: 130px;
}

.pl-135 {
  padding-left: 135px;
}

.pl-140 {
  padding-left: 140px;
}

.pl-145 {
  padding-left: 145px;
}

.pl-150 {
  padding-left: 150px;
}

.pl-155 {
  padding-left: 155px;
}

.pl-160 {
  padding-left: 160px;
}

.pl-165 {
  padding-left: 165px;
}

.pl-170 {
  padding-left: 170px;
}

.pl-175 {
  padding-left: 175px;
}

.pl-180 {
  padding-left: 180px;
}

.pl-185 {
  padding-left: 185px;
}

.pl-190 {
  padding-left: 190px;
}

.pl-195 {
  padding-left: 195px;
}

.pl-200 {
  padding-left: 200px;
}

.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-25 {
  padding-right: 25px;
}

.pr-30 {
  padding-right: 30px;
}

.pr-35 {
  padding-right: 35px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-45 {
  padding-right: 45px;
}

.pr-50 {
  padding-right: 50px;
}

.pr-55 {
  padding-right: 55px;
}

.pr-60 {
  padding-right: 60px;
}

.pr-65 {
  padding-right: 65px;
}

.pr-70 {
  padding-right: 70px;
}

.pr-75 {
  padding-right: 75px;
}

.pr-80 {
  padding-right: 80px;
}

.pr-85 {
  padding-right: 85px;
}

.pr-90 {
  padding-right: 90px;
}

.pr-95 {
  padding-right: 95px;
}

.pr-100 {
  padding-right: 100px;
}

.pr-105 {
  padding-right: 105px;
}

.pr-110 {
  padding-right: 110px;
}

.pr-115 {
  padding-right: 115px;
}

.pr-120 {
  padding-right: 120px;
}

.pr-125 {
  padding-right: 125px;
}

.pr-130 {
  padding-right: 130px;
}

.pr-135 {
  padding-right: 135px;
}

.pr-140 {
  padding-right: 140px;
}

.pr-145 {
  padding-right: 145px;
}

.pr-150 {
  padding-right: 150px;
}

.pr-155 {
  padding-right: 155px;
}

.pr-160 {
  padding-right: 160px;
}

.pr-165 {
  padding-right: 165px;
}

.pr-170 {
  padding-right: 170px;
}

.pr-175 {
  padding-right: 175px;
}

.pr-180 {
  padding-right: 180px;
}

.pr-185 {
  padding-right: 185px;
}

.pr-190 {
  padding-right: 190px;
}

.pr-195 {
  padding-right: 195px;
}

.pr-200 {
  padding-right: 200px;
}
/*# sourceMappingURL=style.css.map */