@mixin  btn($bg-color : #e2e2e2e1){
    text-decoration: none;
    padding: $base-padding $base-padding * 2;
    border: 0;
    display: inline-block;
    border-radius:$base-border-radius;
    -webkit-border-radius:$base-border-radius;
    -moz-border-radius:$base-border-radius;
    -ms-border-radius:$base-border-radius;
    -o-border-radius:$base-border-radius;
    background-color: $bg-color;
}


.btn{
    @include btn;
}

@each $key , $val in $colors{
     .btn-#{$key} {
        @include btn($val);
        &:hover{
            background-color: lighten($val , 5);
        }      
    }
    .btn-#{$key}-outline {
        @include btn(#fff);
        &:hover{
            border: 1px solid $val;
            background-color:$val;
        }      
    }
}